.main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.btn{
    width: 60%;
    margin: 10px 50px;
    padding: 15px 20px;
    background-color:steelblue;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    
}
.paragraph{
    animation-name: anime;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-play-state: running;
    width: 80%;
    padding: 15px 20px;
    color: black;
    border-radius: 45px;
    background-color: rgb(227, 105, 105);
    color: black;
    font-size: 28px;
    text-align: center;
    
}
.hidden{
    display: none;
}
@keyframes anime {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    40%{
        opacity: 0.5;
        visibility: visible;
    }
    80%{
        opacity: 1;
        
    }
    100%{
        opacity: 1;
        
    }
}